node_modules/
dist/*.map
dist/meta.json
dist/demo-data.bundle.js
dist/iac-generator.bundle.js
out/
*.dmg
*.zip
*.exe
*.AppImage
*.deb
*.snap
.DS_Store
azure-export-*/
aws-export-*/
docs/
delete-me/
test-results/
public/
.vercel
